body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 85px;
    margin-top: 100px;
}
p{
    font-size: 18px;
    font-weight: 500;
    color: #828282;
}
a{
    text-decoration: none;
}
.link-button{
    padding: 20px 40px;
    font-size: 18px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 70px;
    color: white;
    font-weight: 600;
    
}
.sandybrown-color{
    color: sandybrown;
    font-size: 70px;
}

.container-part{
    display: flex;
    margin-top: 100px;
}
/* Banner CSS Start */

.banner-width{
    width: 40%;
    margin-left: 6%;
    margin-right: 4%;   
}
.banner-width img{
    width: 90%;
    margin-left: 60px;
}
.banner-width p{
    margin-bottom: 80px;
}
/* Banner CSS End */

/* About CSS Start */
#about-bg{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-width{
    width: 40%;
    margin-left: 2%;
    margin-right: 5%;  
    padding: 20px; 
}
.about-width img{
    width: 70%;
    margin-left: 100px;
    
}
.about-width h2{
    font-size: 38px;
    font-weight: 700;
    color: #707070;
    margin-top: 130px;
}
.about-width p{
    font-size: 18px;
    color: black;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 100px;
}
/* About CSS End */

/* Recipe CSS Start */

.recipe-part{
    margin: 100px 0;
    
}
    .center-point{
        text-align: center;
        padding: 0 20px;
    }
    .center-point h2{
        color: #676767;
        font-size: 30px;
        font-weight: 700;
    }
    .center-point p{
        margin-bottom: 80px;
    }
    .recipe-width{
        display: flex;
        width: 80%; 
        margin: auto;
         
    }
    .recipe-box{
        width: 32%;
        padding: 15px;   
        box-shadow: 15px 15px 35px gray;
        margin: 20px;
        border-radius: 40px;
    }
   
    .recipe-box h3{
        font-size: 28px;
        font-weight: 900;
        

    }
    .recipe-box p{
        font-size: 16px;
        text-align: left;;
    }
    .recipe-box img{
        width: 100%;   
    }
   
/* Recipe CSS End */

/* Membership CSS Start */
.member-part{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: left;
    margin: 100px 0;
}
.member-part h3{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}
.member-part p{
    text-align: center;
    margin-bottom: 80px;
}
.sponsership{
    display: flex;
    width: 60%;
    margin: 0 auto;
    
}
.sponsership img{
    width: 250px;
    margin-top: 50px;
    margin-bottom: 100px;
}
/* Membership CSS End */